.app--tweet
    form
        .circle--fluid
            .circle--fluid--cell.app--tweet--post.circle--fluid--primary.align-bottom
                .app--avatar
                    img(src="images/m-spore.png")
                textarea(placeholder="What's happening?").circle--textarea--input
                strong.app--tweet--char#tweet-char 140
            .circle--fluid--cell.align-bottom
                button.button-primary Tweet