.app--tweet
    form(action='', method='post')
        .circle--fluid
            .circle--fluid--cell.app--tweet--post.circle--fluid--primary.align-bottom
                .app--avatar
                    img(src= twitterURL)
                textarea(placeholder="What's happening?" name="tweetContent").circle--textarea--input
                strong.app--tweet--char#tweet-char 140
            .circle--fluid--cell.align-bottom
                button.button-primary(type='submit') Tweet