.app-tweet
    form
        .circle--fluid
            .circle--fluid--cell.circle--fluid--primary.align-bottom.app-tweet--post
                .app--avatar
                    img(src="images/m-spore.png")
                textarea(name="", cols="30", rows="10").circle--textarea--input
            .circle--fluid--cell.align-bottom
                button.button-primary Tweet