li
    strong.app--tweet--timestamp 4h
    a.app--tweet--author(href="")
        .app--avatar
            img(src="./images/f-spore.png")
        h4 Jill Spore
    p It's time I come clean about a few things: The pretzel is my favorite chip.
    ul.app--tweet--actions.circle--list--inline
        li
            a.app--reply(href="")
            img(src="/images/reply.svg")
        li
            a.app--retweet(href="") 
                span.tooltip Retweet
                strong 75
        li
            a.app--like(href="")
                span.tooltip Like
                strong 12