doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/css/circle/core/docs.css', type='text/css')
    link(rel='stylesheet', href='/css/global.css', type='text/css')
    script(src='/js/tweet.js')
    title= title
  body
    if dataReady
      include includes/header.pug 
      include includes/footer.pug 
      include includes/body.pug 
    else
      include includes/error.pug