doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/css/circle/core/docs.css', type='text/css')
    link(rel='stylesheet', href='/css/global.css', type='text/css')
    title= title
  body
    include includes/header.pug 
    include includes/footer.pug 
    include includes/body.pug 
